<!-- .section -->
<section id="title-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>About Gamma</h1>
      </div>
    </div>
  </div>
</section>
<!-- /.section -->

<!-- .section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2> Lorem Ipsum</h2>
        <p>Duis gravida augue eu neque dapibus dignissim vitae quis elit. In hac habitasse platea dictumst. Nunc ultricies ipsum
          nunc, ac hendrerit urna consequat quis. Pellentesque lacinia dapibus augue. In feugiat lacus at mauris molestie,
          laoreet convallis orci rutrum. Aenean magna urna, hendrerit id sollicitudin id, fringilla id lorem. Aliquam fermentum
          felis turpis, sed egestas nisi lacinia a. Duis non tempus felis, nec sollicitudin erat. Sed varius nulla vel lectus
          tempus, sed scelerisque felis finibus. Donec feugiat non mi id sodales. Mauris at orci posuere velit mattis finibus.
          Aenean ultrices sodales magna, eu fringilla libero pulvinar ac.</p>

        <!-- .accordion -->
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Nunc Rutrum
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Habitasse Platea
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Quisque Rhoncus
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't
                heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
        <!-- /.accordion -->

      </div>
      <div class="col-md-4">
        <img src="../../assets/img/demo1.jpg" class="demo">
        <h2>Lorem Ipsum</h2>
        <p>Suspendisse malesuada tempus tortor, nec consectetur felis suscipit sit amet. Pellentesque habitant morbi tristique
          senectus et netus et malesuada fames ac turpis egestas.</p>
        <a class="btn btn-light" href="#" role="button">Read More</a>
      </div>
    </div>
  </div>
</section>
<!-- /.section -->
