<!-- .section -->
<section id="title-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Contact Us</h1>
      </div>
    </div>
  </div>
</section>
<!-- /.section -->

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <form>
          <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Enter Name">
          </div>
          <div class="form-group">
            <label>Company Name</label>
            <input type="text" class="form-control" placeholder="Enter Company">
          </div>
          <div class="form-group">
            <label>Message</label>
            <textarea class="form-control" rows="3" placeholder="Enter Message"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-md-4">
        <img src="../../assets/img/demo1.jpg" class="demo">
        <h2>Lorem Ipsum</h2>
        <p>Suspendisse malesuada tempus tortor, nec consectetur felis suscipit sit amet. Pellentesque habitant morbi tristique
          senectus et netus et malesuada fames ac turpis egestas.</p>
        <a class="btn btn-light" href="#" role="button">Read More</a>
      </div>
    </div>
  </div>
</section>
